# Packaging
pip>=24.0
wheel>=0.42.0
setuptools>=70.0

# Version bumping
bump2version>=1.0.1

# File watching
watchdog>=4.0.0

# Linting & formatting
flake8>=7.1.0
black>=24.8.0

# Testing
pytest>=8.3.2
tox>=4.18.0
coverage>=7.6.1

# Documentation
Sphinx>=7.3.7

# Publishing
twine>=5.1.1